/* Reset e configurações globais */
.root *,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #051e1f;
  font-family: 'Poppins', sans-serif;
}

/* Layout principal */
.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #051e1f;
  padding: 0;
}

.main-content {
  background: #051e1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.page-central {
  background: #051e1f;
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Componentes da página */
.page-card-title {
  background: #0b2925;
  border-radius: 20px;
  width: 680px;
  height: 165px;
  position: relative;
  box-shadow: 20px 4px 4px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.page-title {
  color: #effaf2;
  font-family: "Lobster Two", sans-serif;
  font-size: 90px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  text-align: center;
  margin: 0;
}

.page-text {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  max-width: 867px;
  margin-top: 30px;
}

/* Header e Navegação */
.page-header {
  background: #143630;
  height: 78px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  /* Garante que o padding não afete o cálculo da largura e altura */
}

.nav-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.nav-title {
  font-family: 'Lobster', cursive;
  font-size: 32px;
  color: #effaf2;
  white-space: nowrap;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #88c9bf;
}

/* Formulários e botões */
.textarea-custom {
  background: #062f29;
  border-radius: 15px;
  width: 100%;
  max-width: 734px;
  height: 114px;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  resize: none;
  outline: none;
  margin-top: 18px;
}

.page-name-label {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.buttons-container {
  display: flex;
  gap: 20px;
  /* Espaço entre os botões */
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.page-button {
  color: #051e1f;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  width: 162px;
  height: 50px;
  background-color: #9ae7d4;
  border: 2px solid #051e1f;
  border-radius: 15px;
  cursor: pointer;
  line-height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s, transform 0.2s;
}

.page-button:hover {
  background-color: #051e1f;
  color: #67c4c7;
  transform: scale(1.05);
}

.page-button:active {
  transform: scale(0.95);
}

/* Wheel Container */
.wheel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.canva {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.pointer {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #c6f8f1;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.center-circle {
  width: 80px;
  height: 80px;
  background-color: rgb(192, 162, 162);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Winner Container */
.winner-container {
  border-radius: 10px;
  width: 180px;
  height: 200px;
  background: #86af95;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;

  /* Posição padrão */
  position: absolute;
  right: 2.5%;
  top: 50%;
  transform: translateY(-50%);
}

.winner-header {
  width: 100%;
  height: 30px;
  background: #245043;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.winner-title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.winner-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  overflow-y: auto;
  margin-top: 10px;
}

/* Estilo básico para a barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #5f836c;
  border-radius: 4px;/
}

.winner-name {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

/* Footer */
.page-footer {
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, #245043, #86af95);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-text {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Media Queries */
@media (min-width: 1200px) {
  .nav-title {
    font-size: 46px;
    text-align: center;
  }

  .nav-link {
    font-size: 20px;
  }

  .footer-text {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .nav-title {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .nav-link {
    font-size: 17px;
    margin-right: 10px;
    text-align: left;
  }
}

@media (max-width: 1000px) {
  .winner-container {
    position: static;
    transform: none;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 14px;
  }

  .page-footer {
    bottom: 0;
  }

  .winner-title {
    font-size: 12px;
  }

  .winner-name {
    font-size: 14px;
  }
}

@media (max-width: 720px) {
  .page-central {
    padding: 10px;
    gap: 35px;
    transform: scale(0.8);
    transform-origin: top;
    margin-bottom: 100px;
  }

  .page-card-title {
    width: 100%;
    height: 60%;
    box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
  }

  .page-title {
    font-size: 65px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .page-text {
    font-size: 16px;
    margin-top: 15px;
    width: 100%;
  }

  .textarea-custom {
    max-width: 100%;
    height: 150px;
    font-size: 20px;
    margin-top: 10px;
  }

  .page-name-label {
    font-size: 16px;
    margin-top: 10px;
  }

  .page-button {
    font-size: 16px;
    width: 120px;
    height: 40px;
  }

  .buttons-container {
    gap: 15px;

  }
}

@media (max-width: 700px) {
  .nav-title {
    font-size: 49px;
    margin-top: 10px;
    text-align: center;
    margin-left: 65px;
  }

  .nav-list {
    display: none;
  }

  .nav-container {
    justify-content: center;
  }

  .nav-link {
    font-size: 20px;
  }

  .wheel-container {
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .page-card-title {
    width: 100%;
    height: 50px;
    box-shadow: 8px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    padding: 15px;
  }

  .page-title {
    font-size: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  .page-text {
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  .textarea-custom {
    max-width: 100%;
    height: 80px;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
  }

  .page-name-label {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }

  .page-button {
    width: 120px;
    height: 40px;
    margin: 10px 0;
  }

  .buttons-container {
    gap: 15px;
    display: flex;
    justify-content: center;
  }

  .nav-title {
    font-size: 38px;
    margin-top: 10px;
    text-align: center;
    margin-left: 0;
  }
}

@media (max-height: 850px) {
  .page-central {
    margin-top: 200px;
  }
}

@media (max-height: 680px) {
  .page-central {
    margin-top: 300px;
  }
}

@media (max-width: 338px) {
  .nav-title {
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    margin-left: 25px;
  }

  .page-card-title {
    width: 100%;
    height: auto;
    box-shadow: 8px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
  }

  .page-title {
    font-size: 35px;
    width: 100%;
    margin-top: -5px;
    margin-bottom: 15px;
    left: 5px;
    text-align: left;
  }

  .page-text {
    margin-bottom: -20px;
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
  }
}

@media (max-width: 300px) {
  .page-title {
    font-size: 30px;
    width: 100%;
    margin-top: -5px;
    margin-bottom: 15px;
    left: 5px;
    text-align: left;
  }

  .page-text {
    margin-bottom: -20px;
    font-size: 10px;
    margin-top: 10px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
  }
}

.names-list {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  padding: 15px;
  background: #0b2925;
  border-radius: 10px;
  min-height: 50px;
  width: 100%;
  max-width: 734px;
}

@media (max-width: 720px) {
  .names-list {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .names-list {
    font-size: 12px;
    padding: 8px;
  }
}

#resultado {
  color: #effaf2;
}

.container {
  text-align: center;
  color: #9ae7d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-home {
  width: 46px;
  height: 46px;
  position: relative;
  overflow: visible;
}

.button-home {
  background: #7bbbab;
  border-radius: 20px;
  height: 25px;
  width: 100px;
  position: relative;
  top: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button-home img {
  width: 20px;
  height: 20px;
}

.button-home:hover {
  background-color: #0c3f41;
  color: #67c4c7;
  transform: scale(1.05);
}

.button-clear {
  border-radius: 20px;
  width: 100px;
  height: 25px;
  position: relative;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /* Espaço entre ícone e texto */
  font-size: 14px;
  font-weight: bold;
  color: white;
  overflow: visible;
  transition: transform 0.2s, background-color 0.2s;
  border: none;
  top: 20px;
  right: 7px;
}

.button-clear {
  background: #d9534f;
  /* Vermelho */
  margin-left: 10px;
  /* Espaço entre os botões */
}

.button-clear:hover {
  background-color: #41140c;
  color: #c76a67;
  transform: scale(1.05);
}

.button-clear img {
  width: 20px;
  height: 20px;
}

/* Estilo do conteúdo do modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close:hover {
  color: #000;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.modal-content p {
  font-size: 30px;
  color: #1ed63c;
  margin-top: 15px;
}